* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.QuoteBox {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 500px;
  height: auto;
  padding: 30px 20px;
  background: #ffffff;
  box-shadow:  2px 2px 8px rgba(0, 0, 0, 0.3);
  border-radius: 35px 10px ;
}

.Cite {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 10px;
}

.Cite p {
  font-size: 20px;
}

.Cite i {
  font-size: 40px;
  padding-right: 10px;
}

.H3-icon {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.H3-icon i {
  margin: 10px;
  padding: 15px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}